$text: rgb(24, 24, 24);
$blue: #1e90ff;
$white: rgba(233, 233, 233, 0.87);
$theme-bg-color: rgba(16 18 27 / 40%);
$content-bg: rgb(16 18 27 / 54%);
$content-bg-even: rgb(16 18 27 / 68%);
$content-bg-hover: rgb(154 75 193 / 47%);
$theme-color: #f9fafb;
$background: rgb(31 29 51);
$scrollbar-bg: rgb(1 2 3 / 40%);
$dropdown-bg: #0000005e;
$overlay-bg: rgba(36, 39, 59, 0.3);
$popup-bg: rgb(22 25 37);
$table-linear-gradient: linear-gradient(
  to right top,
  #cf4af3,
  #e73bd7,
  #f631bc,
  #fd31a2,
  #ff3a8b,
  #ff4b78,
  #ff5e68,
  #ff705c,
  #ff8c51,
  #ffaa49,
  #ffc848,
  #ffe652
);
$shadow: 0px 3.2px 7.2px rgba(0, 0, 0, 0.132),
  0px 0.6px 1.8px rgba(0, 0, 0, 0.108);
$regular: Segoe_UI_Regular;
$light: Segoe_UI_Light;
